*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    /* align-items: center; */
    margin-top: 40px;
    text-align: center;
    background-color: tan;
    border: 5px solid black;
    width: 10%;
    margin-left: 40px;
}